.o_purchase_request_image_modal {
    .o_purchase_request_image_modal_container {
        border-left: 1px solid gray('400');

        .o_field_image {
            margin-bottom: 0;
            box-shadow: 0 2px 10px gray('300');

            > img {
                border: 1px solid gray('400');
                height: 200px;
                width: auto;
            }

            .o_form_image_controls {
                @include o-hover-opacity(0.7, 1);
                padding: 2%;
            }
        }
    }
}
